@import './reset';
@import './typography';

:root {
    @include theme(light)
}

.darkmode {
    @include theme(dark)
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: $base-font-size;
    color: var(--text-primary-color);
    background: var(--background-primary);
}
.app {
    overflow: hidden;
    height: calc(100vh - 56px);
}