@mixin position-sticky($top) {
    position: sticky;
    top: $top;
}

@mixin position($pos, $top: auto, $bottom: auto, $left: auto, $right: auto) {
    position: $pos;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin rounded-box($width, $height) {
    @include size($width,$height);
    border-radius: 50%;
}

@mixin font-value($size, $height) {
    font-size: $size;
    line-height: $height;
}