@mixin position($pos, $top: auto, $bottom: auto, $left: auto, $right: auto) {
    position: $pos;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin rounded-box($width, $height) {
    @include size($width,$height);
    border-radius: 50%;
}

@mixin font-value($size, $height) {
    font-size: $size;
    line-height: $height;
}

@mixin theme($theme) {
    @if $theme == light {
        --background-primary: #FFFFFF;
        --background-secondary: #F8F9FA;
        --background-tertiary: #EEF1F4;
        --background-tertiary-info: #E8F2FE;
        --text-primary-color: #0E1114;
        --border-primary: #CDD5DE ;
        --intaractive-color: #0086ea;
        --success-color: #1D9745;
    }

    @else if $theme == dark {
        --background-primary: #21262B;
        --background-secondary: #353C43;
        --background-tertiary: #4A545C;
        --background-tertiary-info:#0086ea;
        --text-primary-color: #EEF1F4;
        --border-primary:  #4A545C;
        --interactive-color: #53A0FF;
        --success-color: #157B2F;
    }
}

@mixin transition-ease($prop) {
    transition: $prop 0.3s ease-in-out;
}

@mixin vendor-prefix($prop, $value, $prefixes...) {
    #{$prop}: $value;
    
    @each $prefix in $prefixes {
      @if $prefix == -webkit {
        -webkit-#{$prop}: $value;
      } @else if $prefix == -moz {
        -moz-#{$prop}: $value;
      } @else if $prefix == -ms {
        -ms-#{$prop}: $value;
      } @else if $prefix == -o {
        -o-#{$prop}: $value;
      }
    }
  }
  