// $border-primary-color:  #CDD5DE;

// $text-primary-color: #0E1114;
$text-secondary-color: #616C76;
$text-tertiary-color: #8FA0AF;

$base-font-size: 14px;

$spacing-sm : 8px;
$spacing-lg: 24px;
$spacing-md: 16px;