%flex {
    display: flex;
}

%cross-center {
    align-items: center;
}

.fx {
    @extend %flex;

    &-cc {
        @extend %flex;
        @extend %cross-center;
    }

    &-sb {
        @extend %flex;
        @extend %cross-center;
        justify-content: space-between;
    }

    &-col {
        @extend %flex;
        flex-direction: column;
    }

    &-grow {
        flex-grow: 1;
    }
}

$flex-gaps : (
    sm: 8px,
    md: 16px,
    lg: 24px
);
    
.gap {
    @each $var, $gap in $flex-gaps {
        &-#{$var} {
            gap: $gap;
        }
    }
}

.clickable {
    cursor: pointer;
}

.lh-0 {
    line-height: 0;
}

.pd {
    &-t-16 {
        padding-top: $spacing-md;
    }

    &-v-16 {
        padding: $spacing-md 0;
    }
    
    &-b-16 {
        padding-bottom: $spacing-md;
    }
}

.custom-scroll {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: var(--border-primary);
    }
}

.fill-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}