%flex {
    display: flex;
}

%cross-center {
    align-items: center;
}

.fx {
    @extend %flex;

    &-cc {
        @extend %flex;
        @extend %cross-center;
    }

    &-sb {
        @extend %flex;
        @extend %cross-center;
        justify-content: space-between;
    }

    &-col {
        @extend %flex;
        flex-direction: column;
    }

    &-grow {
        @include vendor-prefix(flex-grow,1, -webkit, -moz)
    }
}

$flex-gaps : (
    sm: $spacing-sm,
    md: $spacing-md,
    lg: $spacing-lg
);
    
.gap {
    @each $var, $gap in $flex-gaps {
        &-#{$var} {
            gap: $gap;
        }
    }
}

.cur-pointer {
    cursor: pointer;
}

.lh-0 {
    line-height: 0;
}

.pd {
    &-t-16 {
        padding-top: $spacing-md;
    }

    &-v-16 {
        padding: $spacing-md 0;
    }
    
    &-b-16 {
        padding-bottom: $spacing-md;
    }
    
    &-16 {
        padding: $spacing-md;
    }

    &-hv {
        padding: $spacing-md $spacing-lg;
    }
}

.custom-scroll {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: var(--border-primary);
    }
}

.fill-image {
    @include size(100%, 100%);
    object-fit: cover;
}

.hide {
    display: none;
}

.text-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sec-color {
    color: $text-secondary-color;
}