.toggle {
    border-radius: 999px;
    background: var(--intaractive-color);
    padding: 2px; 
    cursor: pointer;

    .slider {
        @include transition-ease(transform);
        background: var(--background-primary);
        @include vendor-prefix(transform,translateX(100%), -webkit, -moz, -o, -ms);
    }

    &--lg {
        width: 36px;
        .slider {
        @include rounded-box(16px, 16px)
        }
    }

    &--sm {
       width: 28px;

       .slider {
        @include rounded-box(12px, 12px);
       }
    }

    &.clicked {
        .slider {
            @include vendor-prefix(transform,translateX(0), -webkit, -moz, -o, -ms);
        }
    }
}