.drawer-column {
    @extend %noshrink-and-layerabove;
    @include size(280px, 100%);
    border-radius: 16px 0px 0px 0px;
    border-left: 1px solid var(--border-primary);
    box-shadow: -6px 0px 16px 0px rgba(2, 17, 37, 0.04), -2px 0px 8px 0px rgba(2, 17, 37, 0.08), 0px 0px 4px 0px rgba(2, 17, 37, 0.08);
    overflow-y: auto;

}

%inputs-styling {
    width: 100%;
    border: 1px solid var(--border-primary);
    border-radius: 6px;
    padding: $spacing-sm;
    background: var(--background-primary);
    font-size: 12px;
}
.change {
    &-name {
        @extend %inputs-styling
    }
    &-bio {
        @extend %inputs-styling;
        resize: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-save-btn {
        @extend %inputs-styling;
        width: 50%;

        &:hover {
            background: var(--background-secondary);
        }
    }
}

.sender,.my-profile {    
    &-details {
        border-bottom: 1px solid  var(--border-primary);
    }
}


.close-btn {
    @include size(20px, 20px);
    background: transparent;

    img {
        width: 100%;
    }
}

.notification-control {
    border-bottom: 1px solid  var(--border-primary);
    border-top: 1px solid  var(--border-primary);
}

.action-link {
    color: $info-color;
}