.header {
    position: relative;
    z-index: 111;
    height: 56px;
    padding: 0px 24px;
    box-shadow: 0px 1px 2px 0px rgba(2, 17, 37, 0.12);

    &__left {
        flex-basis: 320px - 24px;
    }

    &__right {
        flex: 1;
    }

    .logo {
        font-size: 20px;
    }

    .settings-btn, .more-btn {
        background: transparent;
        padding: 12px $spacing-sm;
    }

    .user-image {
        padding: 12px;

        img {
            @include rounded-box(32px, 32px);
            object-fit: cover;
        }
    }

    .sender-status {
        color: $text-secondary-color;
    }

    .chat-full-name {
        color: $text-primary-color;
    }
}