
.message {
    padding: 16px;
    background: var(--background-tertiary);
    border-radius: 16px 16px 16px 0px;
    max-width: 480px;
    word-break: break-all;

    &-view {
        padding-top: 8px 0;
        flex-grow: 1;
        justify-content: space-between;
    }

    &-container {
        flex: 1;
        max-width: 680px;
        // height: 600px;
        margin: 0 auto;

        &-wrap {            
            overflow-y: auto;
        }
    }
  
    &-avatar {
        align-self: flex-end;
        visibility: hidden;
    }

    &-sender {
       color:  #1D9745;
       display: none;
    }
    
    &-time {
        color: $text-secondary-color;
    }

    &-wrap {
        align-self:flex-start ;
        &.first-in-msgs {
            .message-sender {
                display: block;
            }
        }

        &.last-in-msgs {
            .message-avatar {
                visibility: visible;
            }
        }
        &.own {
            align-self: flex-end;

            .message {
                background: var(--background-tertiary-info);
                border-radius: 16px 16px 0px 16px;

                &-time {
                    align-self: flex-end;
                }
            }

        }
    }

    //*********** Message-view-Footer ************//

    &-footer {
        margin: 0 34px 16px;
        border-radius: 12px;
        border: 1px solid var(--border-primary);
        overflow: hidden;
    }

    &-input {
        resize: none;
        padding: 14px 12px;
        width: 100%;
        background: var(--background-primary);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-actions {
        padding: 8px 12px;
        background: var(--background-secondary);

        button {
            background: transparent;
        }

        &__btn {
            padding: 6px;
        }

        .send-btn {
            padding: 6px 12px;
            border-radius: 8px;
            border: 1px solid var(--border-primary);
            color: $text-secondary-color;
        }
    }
}

.sticky-date {
    @include position(sticky, $top: 10px);
    align-self: center;
    padding: 2px 8px;
    color: var(--background-primary) ;
    background-color: #8FA0AF;
    border-radius: 999px;
}
