.side-menu {
    @extend %noshrink-and-layerabove;
    @include size(320px, 100%);
    border-right: 1px solid  var(--border-primary);
    box-shadow: 6px 0px 16px 0px rgba(2, 17, 37, 0.04), 2px 0px 8px 0px rgba(2, 17, 37, 0.04), 0px 0px 4px 0px rgba(2, 17, 37, 0.04);
    overflow-y: auto;
    
    &__header {
        @include position(sticky, $top:0);
        background:  var(--background-primary);
        padding: 12px $spacing-lg $spacing-sm;
        z-index: 10;
    }
}


.search-bar {
        input {
        border:1px solid var(--border-primary);
        border-radius: $spacing-sm;
        padding: 6px 6px 6px $spacing-lg;
        width: 100%;
        background: url('https://ik.imagekit.io/abhiimages/magnifier-icon.svg?updatedAt=1689142077028') no-repeat top 4px left 4px / 20px ;
        &:focus {
            border:1px solid var(--text-primary-color);
        }
    }
}

%unread-messages {
    padding: 2px 6px;
    border-radius: 999px;
    font-size: 12px;
    color: var(--background-primary);
}

.chat {
    &-list {

        &__item {
            position: relative;
            .remove-list {
                @include position(absolute, $top: 10px, $right:2px);
                @include rounded-box(20px, 20px);
                transform: translateY(-50%);
                display: none;
                font-size: 10px;
                line-height: 20px;
                text-align: center;
                background: var(--background-tertiary);

                &:hover{
                    background-color: rgba(255, 0, 0, 0.34);
                }
            }

            &:hover,&.selected {
                background:  var(--background-secondary);
            }
            &:hover {
                .remove-list {
                    display: block
                }
            }

            &.unread {

                .unread-msgs {
                    @extend %unread-messages;
                    background: $info-color;
                }

                &.muted {
                    .unread-msgs {
                        @extend %unread-messages;
                        background: $light-bg-color;
                    }
                }
            }

            &.online {
                .indicator {
                    @include position(absolute, $top:30px, $left: 30px);
                    @include rounded-box(8px, 8px);
                    border: 1px solid var(--background-primary);
                    background: var(--success-color);
                }
            }
        }
    }

    &-info {
        flex: 1;
    }

    &-avatar {
        @include position(relative);
    }
}

.chat-name, .last-message {
    max-width: 162px;
}